.main-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: 100%;
  width: 100%;
}

.main-loading__header {
  padding: 1rem;
}

.main-loading__title {
  font-size: 5rem;
  text-align: center;
}
