@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");

:root {
  --primary-font: "Rajdhani", Arial, sans-serif;
  --base-font-size: 0.625rem;
  --primary-color: #0099ff;
  --secondary-color: #77c9ff;
  --red-color: #ff0000;
  --white-color: #ffffff;
  --black-color: #000000;
}

* {
  padding: 0;
  margin: 0;
  font-size: var(--base-font-size);
  font-family: var(--primary-font);
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  height: 100%;
  width: 100%;
}
